p.social-buttons
  a.btn.btn-default.login-btn.vxb-button(href="/auth/voxbone")
    img(src="/images/voxbone-x.png" width="25px" height="25px")
    br
    span.btn-txt Voxbone
  a.btn.btn-default.google-button.login-btn(href="/auth/google")
    span.fa.fa-google-plus
    br
    span.btn-txt Google
  a.btn.btn-default.git-button.login-btn(href="/auth/github")
    span.fa.fa-github
    br
    span.btn-txt Github
  a.btn.btn-default.live-button(href="/auth/windowslive")
    span.fa.fa-windows
    br
    span.btn-txt Live
  a.btn.btn-default.login-btn.LI-button(href="/auth/linkedin")
    span.fa.fa-linkedin
    br
    span.btn-txt LinkedIn
