extends layout

append head

  script.
    require([
      'angular',
      'controllers/editSIP',
      'jqueryMask'
    ],
    function (angular, EditSIPController, jQueryMask) {
      angular.module('did-webrtc-frontend', [])
        .controller('EditSIPController', EditSIPController);
      angular.bootstrap(document, ['did-webrtc-frontend']);
    });

block content
  .site-wrapper-inner.home-wrap
    .body.edit-sip(ng-controller='EditSIPController' ng-init="wirePlugins()")
      .container
        .row
          .col-md-12.register-content
            img.img-responsive.infrastructure(src='/images/infrastructure.png')
        .row
          .col-xs-12.register-content
            .row
              .col-xs-6
                .ng-cloak
                  h4 SIP Settings
                  p Use our free SIP address or connect to your SIP server
                  .checkbox
                    label
                      input(type="checkbox" ng-model="showInteralSip" disabled)
                      |Give me a SIP address to test with
                      span.badge(data-toggle='tooltip' data-placement="right" title="Dial this SIP address from your SIP phone or infrastructure") ?
                      br
                  .internalSip(ng-show = "showInteralSip") #{voxbone_webrtc_username}+{{user.browserUsername}}@workshop-gateway.voxbone.com
                  .checkbox
                    label
                      input(type="checkbox" ng-model="registrar_enabled")
                      |Use an existing SIP service
                      span.badge(data-toggle='tooltip' data-placement="right" title="Connect to a SIP service or IP-PBX") ?
                  .boxPanel
                    .sip-details(ng-show="registrar_enabled")
                      .form-group
                        label Registar
                          span.badge(data-toggle='tooltip' data-placement="right" title="Enter your registar address with port") ?
                        input.form-control(type="text" ng-model="user.registrarURI" placeholder= "sip.myservice.com:5060")
                      .form-group
                        label SIP username
                          span.badge(data-toggle='tooltip' data-placement="right" title="Add the user name for your SIP service") ?
                        input.form-control(type="text" ng-model="user.sipUsername" placeholder= "Username")
                      .form-group
                        label SIP Password
                          span.badge(data-toggle='tooltip' data-placement="right" title="Enter your SIP user's password/secret") ?
                        label
                          input(type="checkbox" ng-click="showPassword()")
                          |Show
                        input.form-control(type="{{inputType}}" ng-model="user.sipPassword" required placeholder= "Password")
              .col-xs-6.ng-cloak
                h4 Allowed IP addresses
                p Incoming calls from any IP address allowed. Enter addresses below to limit incoming calls.
                .boxPanel#allowed-ips
                  .allowed-ip
                    input.form-control.ip-address(type="text" placeholder="IP Address")
                    button.manage-ips.add-ip
                      span.glyphicon.glyphicon-plus
                    button.manage-ips.remove-ip
                      span.glyphicon.glyphicon-minus
            .row
              .col-md-12
                .text-center
                  a.important-info(href="#" data-toggle="modal" data-target="#sipInfo") Important SIP setup information
                  .msg-wrap.error-label(ng-show="errorMsg") {{errorMsg}}
                  .msg-wrap.success-label(ng-show="savedSuccessfully") Your configuration has been saved successfully! #[a(href="/edit-notifications") Configure Notifications]

                  button.btn.btn-default-custom.btn-footer(ng-click="saveConfig()" name="skipBtn") Save

                  .clearfix
      include sip-setup-info-modal
