.modal.fade.add-new-modal#eolModal(tabindex="-1" role="dialog")
  .modal.custom-modal.fade.in
    .modal-dialog.custom-modal-dialog(role="document")
      .modal-content.custom-modal-content.edit-sip
        .modal-header.custom-modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
          h4.modal-title.custom-modal-title(id="myModalLabel") End of Life
        .modal-body.custom-modal-body
          p #[strong Thanks for visiting our webpage.]

          p We recently made the decision to call time on did2webr.tc in order to concentrate the resources of our Labs program on exciting innovations that will better help simplify business communications.

          p As a result, this service is not longer available

          p Please visit the #[a(href="https://www.voxbone.com/product/labs") Voxbone Labs] to see what we're currently working on!
        .modal-footer.custom-modal-footer
          a(href="https://www.voxbone.com/product/labs")
            button.btn.btn-default-custom Go to Voxbone labs
