extends layout

block footer

append head
  script.
    require(
      ['angular', 'jquery', 'controllers/home', 'bootstrap', 'click2vox'],
      function (angular, $, HomeController) {
        angular.module('did-webrtc-frontend', [])
          .controller('HomeController', HomeController);
        angular.bootstrap(document, ['did-webrtc-frontend']);
      });

block content
  .site-wrapper-inner.home-wrap
    .container
      .row.banner-content
        .col-sm-12.col-md-8
          if unsupported_browser
            .unsupported-browser.text-center.banner-content
              h4 #{unsupported_browser} is not supported, please use Firefox or Chrome
          h1 Webphone for everyone
          h2 Answer phone calls from your browser!
          p Choose a phone number and answer calls from your browser. One minute configuration, no installs, no plug-ins, no hassle. did2webr.tc is a cloud-based service based on the Voxbone Workshop WebRTC Gateway Service. Click-to-answer with did2webr.tc is perfect for:
          ul
            li zero-install remote agents,
            li seamless click-to-callback,
            li web-based UC application integration,
            li creative consumer web apps!
          p #[a(href="/account/signup/") Sign-up], #[a(href="/demo") try it out], or see more info #[a(href="#setup") below].
  .home-setup(id="setup")
    .container
      .row
        .col-xs-12
          h3 Setup
            span  in 3 Easy Steps

      .row.color-boxes
        .col-sm-12.col-md-4
          .setup-grid.setup-inside-block
            a(href="/pick-did/")
              img(alt="Setup SIP" src="../../images/pick-did.png")
            h5 Pick DID
            p Select a phone # from our global pool

        .col-sm-12.col-md-4
          .setup-grid.setup-inside-block
            a(href="/edit-notifications/")
              img(alt="Notifications" src="../../images/notifications.png")
            h5 Notification settings
            p Set incoming call notification options

        .col-sm-12.col-md-4
          .setup-grid.setup-inside-block
            a(href="/phone/")
              img(alt="Phone" src="../../images/phone.png")
            h5 Answer the Phone!
            p Click-to-answer incoming calls

      .row
        .col-xs-12
          h3 Want to
            span  try it now?

      .row.home-buttons
        .col-sm-12.col-md-6
          a.btn.btn-default-custom(href='/demo') Try the demo
        .col-sm-12.col-md-6
          if authenticated
            a.btn.btn-default-custom(href='/pick-did') Select a number
          else
            a.btn.btn-default-custom(href='/account/signup') Create an account


  .contact(id="contact")
    .container
      .padding-contact
        .row
          .col-md-4.address
            h3 Address
            address
              |535 Mission St
              br
              |San Francisco
              br
              |CA 94105
              br
              |USA #[span Tel: +1 415 520 505]
              button.btn.btn-default(onclick="document.getElementById('launch_call').click();" type="submit") Click-to-Call
              span
                a(href=
              "https://www.voxbone.com/" target="_blank")
                  img(alt="" src="../../images/voxbone-logo.png")

          .col-md-4
            h3 Links
            ul.links
              li
                a(href="https://www.voxbone.com/" target="blank") Voxbone Website
              li
                a(href="http://blog.voxbone.com/" target="blank") Voxbone Blog
              li
                a(href="https://developers.voxbone.com/" target="blank") Voxbone Developers Platform
              li
                a(href="https://www.linkedin.com/company/voxbone" target="blank") Follow us on LinkedIn
              li
                a(href="https://plus.google.com/+VoxboneSA/posts" target="blank") Follow us on Google+
              li
                a(href="https://twitter.com/voxbone" target="blank") Follow us on Twitter
              li
                a(href="https://www.facebook.com/VoxboneSA" target="blank") Follow us on Facebook

          .col-md-4.newsletter
            h3 Stay in touch
            form#newsletterForm
              .form-group
                label(for="name") Name
                input.form-control(id="uname" placeholder="Name" type="text")
                span.error-msg.name-invalid.hidden Please enter a proper name
              .form-group
                label(for="email") Email
                input.form-control(id="uemail" placeholder="email@example.com" type="email")
                span.error-msg.email-invalid.hidden Please enter a proper email address
              button#newsletterSignUp.btn.btn-default(type="submit") Sign up for Newsletter

    .footer
      include footer

  //- <!-- Newsletter Modal -->
  #newsletterModal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal")
          h4#myModalLabel.modal-title.pull-left
            i.glyphicon.glyphicon-exclamation-sign
              span Newsletter
        .modal-body
          p#subscription-message Placeholder
        .modal-footer
          button(type="button" class="btn btn-primary btn-lg" data-dismiss="modal") Dismiss

  #voxButton_575b3d7e89005411004db935.voxButton(data-button_id='575b3d7e89005411004db935' data-text='click2vox Us Now' data-redirect_url='https://voxbone.com' data-did='883510080408' data-dial_pad='true' data-context='' data-send_digits='' data-caller_id='Click2Vox_did2webrtc' data-incompatible_browser_configuration='hide_widget' data-show_frame='false' data-show_branding='false' data-use_default_button_css='false' data-div_css_class_name='hidden' data-test_setup='false' data-button_css_class_name='btn btn-purple')
